* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    scroll-behavior: smooth;
}

#main {
    margin-top: -97px;
}

.button {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 39px;
    right: 33px;
    background-color: rgba(204, 204, 204, 0.192);
    border-radius: 50%;
    opacity: 0.6;
    z-index: 1;
}
.button > a {
    color: #ccc;
    font-size: 50px;
    position: absolute;
    left: 16px;
    bottom: -4px;
    text-decoration: none;
}
.button:hover {
    opacity: 0.3;
}

#header {
    position: relative;
    z-index: 90000;
}
#header .header  {
    
}
.nav {
    position: absolute;
    background-color: #000;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background: linear-gradient(180deg, rgba(6,241,183,1) 0%, rgba(65,49,13,1) 100%);
}
ul.nav_button {
    display: flex;
    justify-content: space-around;
}
.nav_button >li {
    display: inline-block;
    width: 20%;
    position: relative;
}
.nav_button >li >a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 90px;
    padding:0 50px;
    font-variant: small-caps;
    list-style-type: none;
}
.subnav li:hover a {
    background: linear-gradient(180deg,rgba(65,49,13,1)  0%,rgb(241, 6, 6,1)  100%);
    display: block;
    opacity: 0.8;
}
.nav_button> li:hover> a {
    background: linear-gradient(180deg,rgba(65,49,13,1)  0%,rgba(6,241,183,1)  100%);
    display: block;
    opacity: 0.8;
}
.nav li:hover .subnav li {
    display: block;
}
.subnav {
    position: absolute;
    width: 100%;
}
.subnav li {
    display: none;
    background: linear-gradient(180deg, rgb(241, 6, 6,1) 0%, rgba(65,49,13,1) 100%);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.subnav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    padding-left: 15px;
}
#content {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
#content> h1 {
    padding: 15px 0;
    text-transform: uppercase;
}
.rowspanl {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 400px;
    margin-bottom: 50px;
}
.rowspanl_child {
    height: var(--hihi);
    background-color: rgba(116, 68, 36, 0.753);
    padding: 0 5px; 
    animation: hien 5s ease-in-out;
    margin: 10px 0;
}
.rowspanl_child > img  {
    border-radius: 50%;
    width: 60px;
    padding-top: 15px;
    animation: nhay 150ms infinite;
}

@keyframes hien {
    from {
        opacity: 0;
        height: calc(var(--hihi)-70%);
    }
    to {
        opacity: 1;
        height: var(--hihi);
    }
}


@keyframes nhay {
     0% {
         box-shadow: 0 0 40px #fff;
         opacity: .8;
     } 
     100% {
         box-shadow: 0 0 40px rgba(255, 255, 255, 0.007);
         opacity: 1;
     }
}
#footer {
    height: 200px;
    background-color: rgb(20, 136, 107);
    bottom: 0;
}
.img {
    width: 100px;
    display: flex;
    margin: 0 auto;
    
}
.img > img {
    width: 95%;
    margin-left: 8px;
    animation: nhay 150ms infinite;
    border-radius: 30px;
}
.avata {
    margin-top: 10px;
}
.icons {
    bottom: 0;
    text-align: center;
    margin: 5px 20px;

}
.icons> a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding: 0 20px;
}
.icons > a:hover >i {
    font-size: 32px;
    opacity: .8;
}