* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    scroll-behavior: smooth;
}

#main {
    margin-top: -97px;
}

.button {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 39px;
    right: 33px;
    background-color: rgba(204, 204, 204, 0.192);
    border-radius: 50%;
    opacity: 0.6;
    z-index: 1;
}
.button > a {
    color: #ccc;
    font-size: 50px;
    position: absolute;
    left: 16px;
    bottom: -4px;
    text-decoration: none;
}
.button:hover {
    opacity: 0.3;
}

#header {
    position: relative;
    z-index: 90000;
}

.nav {
    position: absolute;
    background-color: #000;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background: linear-gradient(180deg, rgba(6,241,183,1) 0%, rgba(65,49,13,1) 100%);
}
ul.nav_button {
    display: flex;
    justify-content: space-around;
}
.nav_button >li {
    display: inline-block;
    position: relative;
    width: 20%;
}
.nav_button >li >a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 90px;
    padding:0 50px;
    font-variant: small-caps;
    list-style-type: none;
}
.subnav li:hover a {
    background: linear-gradient(180deg,rgba(65,49,13,1)  0%,rgb(241, 6, 6,1)  100%);
    display: block;
    opacity: 0.8;
}
.nav_button> li:hover> a {
    background: linear-gradient(180deg,rgba(65,49,13,1)  0%,rgba(6,241,183,1)  100%);
    display: block;
    opacity: 0.8;
}
.nav li:hover .subnav li {
    display: block;
}
.subnav {
    position: absolute;
    width: 100%;
}
.subnav li {
    display: none;
    background: linear-gradient(180deg, rgb(241, 6, 6,1) 0%, rgba(65,49,13,1) 100%);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.subnav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    padding-left: 15px;
}

#content {
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
}
.slider {
    flex: 1;
}
.content {
    flex: 3;
    margin: auto;
    padding-top: 50px;
    color: #fff;
}
.formcontent {
    background-color: rgba(0, 0, 0, 0.767);
    margin-bottom: 30px;
    justify-content: space-around;
      text-align: justify;
      border-radius: 20px;
    padding: 40px 30px;
}
.title {
    font-size: 22px;
    border: 1px solid #000;
    font-weight: 900;
}
.sub-content {
    font-style: italic;
}

img {
    margin-top: 60px;
    width: 95%;
    margin-left: 8px;
    animation: nhay 150ms infinite;
    border-radius: 30px;
}
@keyframes nhay {
     0% {
         box-shadow: 0 0 40px #fff;
         opacity: .8;
     } 
     100% {
         box-shadow: 0 0 40px rgba(255, 255, 255, 0.007);
         opacity: 1;
     }
}
#footer {
    height: 200px;
    background-color: rgb(20, 136, 107);
}
.img {
    width: 100px;
    display: flex;
    margin: 0 auto;
}
.avata {
    margin-top: 10px;
}
.icons {
    bottom: 0;
    text-align: center;
    margin: 5px 20px;

}
.icons> a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding: 0 20px;
}
.icons > a:hover >i {
    font-size: 32px;
    opacity: .8;
}

